Package: com.nito.bulletinh4x
Name: bulletinh4x
Depends: mobilesubstrate
Version: 0.0.1
Architecture: appletvos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
